.container {
    display: flex;
    height: 400px;
    flex-direction: row;
    background-color: aqua;

}

.box {
    width: 100px;
    height: 100px;
    /* flex 0 */
    background-color: brown;
    font-size: 90px;
    color: white;
    margin: 10px;

   
}


/* .container > div{
    flex-grow: 1;
} */
/* .container > *{
    flex-grow: 1;
} */




.box:nth-child(1) {
    /* order: 2; */
    /* flex-grow: 1; */
}

.box:nth-child(2) {
    /* flex-shrink: 0;
    width: 200px; */
    /* order: 1; */
    /* flex-grow: 2; */
}


.box:nth-child(3) {
    /* order: 4; */
    /* flex-grow: 1; */
}

.box:nth-child(4) {
    /* order: 3; */
    /* flex-grow: 1; */
}



/* .box:nth-child(3){
    flex-shrink: 0;
    width: 200px;
} */

/* .box:nth-child(3){
    flex-shrink: 0;
    flex-basis: 200px;
} */

.box:nth-child(2) {
    align-self: center;
}

.box:nth-child(1) {
    align-self: flex-end;
}

.box:nth-child(3) {
    align-self: flex-end;
}

.box:nth-child(4) {
    align-self: center;
}

