.container {
    height: 600px;
    background-color: blueviolet;
    overflow: auto;
    display: flex;
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */
    /* flex-direction: row-reverse; */
    /* flex-direction: row-reverse; */
    flex-wrap: wrap;
    /* flex-wrap: wrap-reverse; */
    /* flex-wrap: wrap-reverse; */
    /* flex-wrap: unset; */
    /* justify-content: space-evenly; */
    /* justify-content: flex-start; */
    /* justify-content: flex-start; */

    /* justify-content: space-evenly; */
    /* justify-content: space-around; */
    /* justify-content: space-between; */
    /* align-items:flex-end; */
    /* align-items: center; */
    /* align-items: flex-end; */
    /* align-items: flex-start; */
    /* flex-flow: row wrap; */
    align-content: first baseline;
}

.box {
    background-color: rgb(153, 99, 28);
    width: 100px;
    height: 100px;
    margin: 10px;
    color: rgb(231, 217, 217);
    font-size: 36px;
    text-align: center;

}